/* You can add custom styles here. */

// @import "plugins/numbered";

.book-post {
  .tags {
    font-size: 90%;
    border-radius: 3px;
    background-color: #dfdfdf;
    padding: 3px;
    &:before {
      content: "# ";
    }
  }
}

.my-external-link {
  margin-left: 0.3em;
  font-size: 86%;
}